.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  background: linear-gradient(var(--blue-200), var(--blue-400));

  .details {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);

    p {
      font-size: 1.125rem;
    }

    img {
      width: 8rem;
    }
  }

  .more {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    strong {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--white);
    }

    a {
      font-size: 1.125rem;
      color: var(--white);
    }
  }
}